        {% load static %}
        <div class="sidebar close" id="sidebar">
            <!-- Botão para abrir/fechar o sidebar -->
            <div class="sidebar-header">
              <i class="bx bx-menu" id="sidebarToggle"></i>
            </div>
            
            <!-- Detalhes do Logo -->
            <div class="logo-details">
                <img src="{% static 'assets/img/illustrations/LogoHorizontal_Wtime_CorOficial-1.png' %}" alt="Logo Dashboard" class="logo">
                <span class="logo_name">AFIP RPA Orquestrator</span>
            </div>
            
            <!-- Links de Navegação -->
            <ul class="nav-links">
                <li class="nav-item {% if segment == 'tasks' %} active {% endif %}">
                    <a href="{% url 'tasks' %}">
                        <i class="fas fa-tasks"></i>
                        <span class="link_name">Tarefas</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="{% url 'tasks' %}">Tarefas</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="{% url 'logout' %}">
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="link_name">Sair</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="{% url 'logout' %}">Sair</a></li>
                    </ul>
                </li>
                
                <!-- Perfil e informações adicionais -->
                <li>
                    <div class="profile-details">
                        <div class="profile-content">
                            <img src="{% static 'assets/img/illustrations/user_example.jpg' %}" alt="Imagem do Perfil">
                        </div>
                        <div class="name-job">
                            <div class="profile_name">{{ request.user.username }}</div>
                            <div class="job">Orchestrator</div>
                        </div>
                        <a href="{% url 'logout' %}">
                            <i class="bx bx-log-out"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>