{% load static %}

<!DOCTYPE html>
<html lang="en">

<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Primary Meta Tags -->

    <title>
        Orchestrator - {% block title %}{% endblock %}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" 
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link type="text/css" href="{% static 'assets/vendor/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/notyf/3.10.0/notyf.min.css">
    <link type="text/css" href="{% static 'assets/css/volt.css' %}" rel="stylesheet">
    
    {% block stylesheets %}{% endblock stylesheets %}

</head>
<body>

    <!-- Sidebar -->
    {% include 'includes/sidebar.html' %}

    <div class="home-section" style="margin-left: 250px;">
      {% block content %}
      {% endblock content %}
    </div>


    {% include 'includes/scripts.html' %}

    <!-- JS específico da página -->
    {% block javascripts %}
    {% endblock javascripts %}

</body>
</html>
