{% extends "layouts/base.html" %}

{% block title %}Itens{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-2" style="padding-left: 20px;">
    <div class="d-block mb-2 mb-md-0">
        <h2 class="h4">Itens da Tarefa ID: {{ task.id }}</h2>
        <p class="mb-0">Processo: {{ task.process_id }}</p>
    </div>
</div>

<div class="card card-body border-0 shadow table-wrapper table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="border-gray-200">Id</th>
                <th class="border-gray-200">Usuário</th>
                <th class="border-gray-200">Data de Criação</th>
                <th class="border-gray-200">Data de Início</th>
                <th class="border-gray-200">Data de Fim</th>
                <th class="border-gray-200">Estado</th>
                <th class="border-gray-200">O.S.</th>
                <th class="border-gray-200">Nome da Pessoa</th>
                <th class="border-gray-200">Ação</th>
            </tr>
        </thead>
        <tbody>
            <!-- Item -->
            {% for item in object_list %}
            <tr>
                <td> <span class="fw-extrabold">{{ item.id }}</span></td>
                <td><span class="fw-normal">
                    {% if not item.robot_id %}
                    Não Atribuído
                    {% else %}
                    {{ item.robot_id.user_id.username }}
                    {% endif %}
                </span></td>
                <td><span class="fw-bold text-primary">{{ item.created_at|date:"d/m/Y" }} {{ item.created_at|time:"H:i" }}</span></td>
                <td><span class="fw-bold text-info">{{ item.started_at|date:"d/m/Y" }} {{ item.started_at|time:"H:i" }}</span></td>
                <td><span class="fw-bold text-success">{{ item.ended_at|date:"d/m/Y" }} {{ item.ended_at|time:"H:i" }}</span></td>
                <td>
                    <span class="badge {% if item.status == 'CREATED' %} bg-primary {% elif item.status == 'STARTED' %} bg-warning {% elif item.status == 'COMPLETED' %} bg-success {% elif item.status == 'ERROR' %} bg-danger {% endif %}">
                        {{ item.status }}
                      </span>                      
                </td>
                <td><span class="fw-bold text-info">{{ item.os_number }}</span></td>
                <td><span class="fw-bold text-info">{{ item.os_name }}</span></td>
                <td>{% include 'includes/modal_default.html' %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
